<p1>出勤一覧</p1>
</br>
<%= render 'month_select' %>
<table class="table table-bordered ">
  <thead>
    <tr>
      <th rowspan = "2" >日付</th>
      <th rowspan = "2" >勤務区分</th>
      <th rowspan = "2" >出勤時間</th>
      <th rowspan = "2" >退勤時間</th>
      <% 1.upto(3) do |i|%>
        <th colspan = "2" >休憩時間<%= i %></th>
      <%end%>
      <th rowspan="2"> 合計</th>
    </tr>
    <tr>
      <% 3.times do |i|%>
        <th>開始<% i %></th>
        <th>終了<% i %></th>
      <% end %>
    </tr>
  </thead>
  <% @worktimes.each do |work| %>
    <tbody>
      <tr>
        <td>
          <%= work.start_time.blank? ? "*/*" : work.start_time.strftime('%m/%d')%>
          <br/>
          <%= link_to "編集", edit_worktime_path(work) %>
        </td>
        <td>
          <%= work.work ? "出勤" : "欠勤" %>
        </td>
        <td>
          <%= work.start_time.blank? ? "--:--" : work.start_time.strftime('%R') %>
        </td>
        <td>
          <%= work.end_time.blank? ? "--:--" : work.end_time.strftime('%R') %>
        </td>
        <% work.rest_times.each do |rest| %>
          <td>
            <%= rest.start_time.blank? ? "--:--" : rest.start_time.strftime('%R') %>
          </td>
          <td>
            <%= rest.end_time.blank? ? "--:--" : rest.end_time.strftime('%R') %>
          </td>
        <% end %>
        <td><%= work.rest_times.sum(:start_time) %></td>
      </tr>
    </tbody>
  <% end %>
</table>