<p1>出勤一覧</p1>
</br>
<%= render 'month_select' %>
<table class="table table-bordered ">
  <thead>
    <tr>
      <th>日付</th>
      <th>勤務区分</th>
      <th>出勤時間</th>
      <th>退勤時間</th>
      <th>休憩開始時間</th>
      <th>休憩終了時間</th>
    </tr>
  </thead>
  <% @worktimes.each do |work| %>
    <tbody>
      <tr>
        <td>
          <% if work.start_time.blank? %>
            */*
          <% else %>
            <%= work.start_time.strftime('%m/%d') %>
          <% end %>
          <br/>
          <%= link_to "編集", edit_worktime_path(work) %>
        </td>
        <td>
          <% if work.work %>
            出勤
          <% else %>
            欠勤
          <% end %>
        </td>
        <td>
          <% if work.start_time.blank? %>
            --:--
          <% else %>
            <%= work.start_time.strftime('%R') %>
          <% end %>
        </td>
        <td>
          <% if work.end_time.blank? %>
            --:--
          <% else %>
            <%= work.end_time.strftime('%R') %>
          <% end %>
        </td>
        <td>
          <% if work.start_breaktime.blank? %>
            --:--
          <% else %>
            <%= work.start_breaktime.strftime('%R') %>
          <% end %>
        </td>
        <td>
          <% if work.end_breaktime.blank? %>
            <--:--
          <%else%>
            <%= work.end_breaktime.strftime('%R') %>
          <%end%>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>